{% extends 'base.html' %}

{% block title %}Sokoban{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'games/css/sokoban.css' %}">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        {% for box in board %}
        <tr>
            {% for item in box %}
            <td>
                <div class="content">
                    {{ item }}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="btn-group">
    <form method="post" id="combine_form">
        {% csrf_token %}
        <button type="submit" name="direction" value="0" class="btn btn-primary">Right</button>
        <button type="submit" name="direction" value="1" class="btn btn-primary">Down</button>
        <button type="submit" name="direction" value="2" class="btn btn-primary">Left</button>
        <button type="submit" name="direction" value="3" class="btn btn-primary">Up</button>
    </form>
</div>
{% endblock %}
